[train]
epoch = 15
batch_size = 100
shuffle = True
valid_interval = 1
save_strategy = save_best

[test]
batch_size = 100
shuffle = False

[data]
reader_name = LevenReader
formatter_name = CrfFormatter
word2vec_file = sgns.baidubaike.bigram-char
sequence_length = 512
BIO = True
pad_label_id = -100
weight = False

[model]
model_name = BiGRU_EmbeddingAttention_Crf
num_layers = 1
hidden_size = 300
dropout = 0.3
crf_option = Crf

[optimizer]
optimizer_name = Adam
lr = 1e-3
weight_decay = 1e-8